/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: #555;
    text-decoration: none;
}

input[type="text"] {
    padding: 12px;
    border-radius: 5px;
    background: #f3f3f3;
    border: none;
    color: #1e1e1eec;
}

input[type="text"]:focus {
    outline: none;
    background: #ff523b;
    color: #fff;
}


/* Remove default check box */

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* Custom checkbox */

.checkbox-row input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: solid 1px #cccccc;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}

.checkbox-row input[type="checkbox"]:checked:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ff523b;
    position: absolute;
    top: 2px;
    left: 2px;
}


/* Custom radio */

.radio-row input[type="radio"]:checked,
.radio-row input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-row input[type="radio"]:checked+label,
.radio-row input[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.radio-row input[type="radio"]:checked+label:before,
.radio-row input[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.radio-row input[type="radio"]:checked+label:after,
.radio-row input[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff523b;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-row input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-row input[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-row,
.checkbox-row {
    margin: 8px auto 0;
    display: flex;
    align-items: center;
}


/* Custom select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f3f3f3;
    background-image: none;
}


/* Remove IE arrow */

select::-ms-expand {
    display: none;
}


/* Custom Select */

select {
    flex: 1;
    padding: 0 1em;
    color: #1e1e1eec;
    cursor: pointer;
}

.select {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    height: 2.8em;
    line-height: 2.8;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}


/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #f3f3f3;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}


/* Transition */

.select:hover::after {
    color: #ff523b;
}


/****************************************/


/* Paging  */

.pagination {
    display: inline-block;
    margin: 0 auto 80px;
}

.pagination span {
    display: inline-block;
    background: #f3f3f3;
    border-radius: 20px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.pagination span:hover {
    background: #ff523b;
    color: #fff;
}


/****************************************/


/* Banner  */

.hero-image {
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.hero-text h4 {
    color: #ff523b;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero-text h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/****************************************/


/* Title text */

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/****************************************/


/* Button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ff523b;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #563434;
}

.button {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    transition: background 0.5;
}

.button:hover {
    background: #563434;
}


/****************************************/


/* Style for ordering items in block */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 45px;
    line-height: 55px;
}

.col-3 {
    flex-basis: 30%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 40px;
    transition: transform 0.5s;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-3 h4,
.col-4 h4 {
    text-align: center;
    margin-top: 8px;
}

.col-3 p,
.col-4 p {
    text-align: center;
    font-size: 14px;
}

.col-3:hover,
.col-4:hover {
    transform: translateY(-10px);
}

.col-5 {
    flex-basis: 10%;
    margin-bottom: 40px;
}

.col-3 img,
.col-4 img,
.col-5 img {
    width: 100%;
}


/****************************************/


/* Responsive layout */

@media only screen and (max-width: 800px) {
    .hero-image {
        z-index: 0;
    }
    .header {
        position: relative;
        z-index: 2;
    }
    .nav-header-menu ul {
        position: absolute;
        top: 90px;
        left: 0;
        background: #1e1e1eec;
        width: 100%;
        padding-bottom: 20px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .nav-header-menu ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 680px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .table-details {
        border: 0;
    }
    .table-details thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .table-details tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    .table-details td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    .table-details td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .table-details td:last-child {
        border-bottom: 0;
    }
}